<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
      <!--
      span.cls_003{font-family:Arial,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
      div.cls_003{font-family:Arial,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
      span.cls_006{font-family:Arial,serif;font-size:9.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
      div.cls_006{font-family:Arial,serif;font-size:9.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
      span.cls_016{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: underline}
      div.cls_016{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
      span.cls_007{font-family:Arial,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
      div.cls_007{font-family:Arial,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
      span.cls_008{font-family:Arial,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
      div.cls_008{font-family:Arial,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
      span.cls_004{font-family:Times,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
      div.cls_004{font-family:Times,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
      span.cls_009{font-family:Arial,serif;font-size:9.9px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
      div.cls_009{font-family:Arial,serif;font-size:9.9px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
      span.cls_005{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
      div.cls_005{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
      span.cls_015{font-family:Arial,serif;font-size:7.6px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
      div.cls_015{font-family:Arial,serif;font-size:7.6px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
      -->
    </style>
    <script
      type="text/javascript"
      src="14db8476-d39b-11ea-8b25-0cc47a792c0a_id_14db8476-d39b-11ea-8b25-0cc47a792c0a_files/wz_jsgraphics.js"
    ></script>
  </head>
  <body>
    <div
      style="
        position: absolute;
        left: 50%;
        margin-left: -297px;
        top: 0px;
        width: 594px;
        height: 841px;
        border-style: outset;
        overflow: hidden;
      "
    >
      <div style="position: absolute; left: 0px; top: 0px;">
        <img
          src="14db8476-d39b-11ea-8b25-0cc47a792c0a_id_14db8476-d39b-11ea-8b25-0cc47a792c0a_files/background1.jpg"
          width="594"
          height="841"
        />
      </div>

      <div style="position: absolute; left: 454.03px; top: 79.62px;" class="cls_003">
        <span class="cls_003">Source One GmbH</span>
      </div>
      <div style="position: absolute; left: 489.7px; top: 93.66px;" class="cls_003">
        <span class="cls_003">Alte Hof 23</span>
      </div>
      <div style="position: absolute; left: 418.51px; top: 107.7px;" class="cls_003">
        <span class="cls_003">38542 Leiferde OT Dalldorf</span>
      </div>
      <div style="position: absolute; left: 447.31px; top: 121.62px;" class="cls_003">
        <span class="cls_003">Tel.: 05373/9303290</span>
      </div>
      <div style="position: absolute; left: 459.07px; top: 133.98px;" class="cls_006">
        <span class="cls_006">hoyer@srcone.de</span>
      </div>
      <div style="position: absolute; left: 71.06px; top: 138.54px;" class="cls_016">
        <span class="cls_016">Source One GmbH, Alte Hof 23, 38542 Leiferde OT Dalldorf</span>
      </div>
      <div style="position: absolute; left: 472.18px; top: 150.54px;" class="cls_006">
        <span class="cls_006"> </span><a href="http://www.srcone.de/">www.srcone.de</a>
      </div>
      <div style="position: absolute; left: 71.06px; top: 163.02px;" class="cls_003">
        <span class="cls_003">Mark Steiner GmbH</span>
      </div>
      <div style="position: absolute; left: 71.06px; top: 175.02px;" class="cls_003">
        <span class="cls_003">Tanzbrunnen 12</span>
      </div>
      <div style="position: absolute; left: 71.06px; top: 187.02px;" class="cls_003">
        <span class="cls_003">33609 Bielefeld</span>
      </div>
      <div style="position: absolute; left: 71.06px; top: 272.73px;" class="cls_007">
        <span class="cls_007">Rechnung</span>
      </div>
      <div style="position: absolute; left: 71.06px; top: 305.85px;" class="cls_003">
        <span class="cls_003"
          >Unsere Lieferungen/Leistungen stellen wir Ihnen wie folgt in Rechnung.</span
        >
      </div>
      <div style="position: absolute; left: 76.58px; top: 340.41px;" class="cls_008">
        <span class="cls_008">Rechnungsnr.:</span>
      </div>
      <div style="position: absolute; left: 190.46px; top: 340.41px;" class="cls_008">
        <span class="cls_008">Kundennr.:</span><span class="cls_004"> </span
        ><span class="cls_009"> Kunden-USt-IdNr.:</span>
      </div>
      <div style="position: absolute; left: 371.59px; top: 340.41px;" class="cls_008">
        <span class="cls_008">Datum:</span>
      </div>
      <div style="position: absolute; left: 439.63px; top: 340.41px;" class="cls_008">
        <span class="cls_008">Leistungsdatum:</span>
      </div>
      <div style="position: absolute; left: 76.58px; top: 353.97px;" class="cls_003">
        <span class="cls_003">RE0306 / 20200266</span>
      </div>
      <div style="position: absolute; left: 190.46px; top: 353.97px;" class="cls_003">
        <span class="cls_003">10065</span>
      </div>
      <div style="position: absolute; left: 260.57px; top: 353.97px;" class="cls_003">
        <span class="cls_003">DE813094934</span>
      </div>
      <div style="position: absolute; left: 371.59px; top: 353.97px;" class="cls_003">
        <span class="cls_003">24.02.2020</span>
      </div>
      <div style="position: absolute; left: 439.63px; top: 353.97px;" class="cls_003">
        <span class="cls_003">05.02.2020</span>
      </div>
      <div style="position: absolute; left: 78.02px; top: 401.85px;" class="cls_008">
        <span class="cls_008">Pos.</span>
      </div>
      <div style="position: absolute; left: 109.46px; top: 399.33px;" class="cls_008">
        <span class="cls_008">Bezeichnung</span>
      </div>
      <div style="position: absolute; left: 363.55px; top: 401.85px;" class="cls_008">
        <span class="cls_008">Menge &</span>
      </div>
      <div style="position: absolute; left: 430.99px; top: 401.85px;" class="cls_008">
        <span class="cls_008">Einzel €</span>
      </div>
      <div style="position: absolute; left: 493.66px; top: 401.85px;" class="cls_008">
        <span class="cls_008">Gesamt €</span>
      </div>
      <div style="position: absolute; left: 367.99px; top: 415.89px;" class="cls_009">
        <span class="cls_009">Einheit</span>
      </div>
      <div style="position: absolute; left: 86.06px; top: 440.39px;" class="cls_003">
        <span class="cls_003">1</span>
      </div>
      <div style="position: absolute; left: 109.46px; top: 440.39px;" class="cls_008">
        <span class="cls_008">329 PE (Polyethylen)</span>
      </div>
      <div style="position: absolute; left: 352.03px; top: 440.39px;" class="cls_003">
        <span class="cls_003">20,28 Tonnen</span>
      </div>
      <div style="position: absolute; left: 437.59px; top: 440.39px;" class="cls_003">
        <span class="cls_003">305,00</span>
      </div>
      <div style="position: absolute; left: 499.78px; top: 440.39px;" class="cls_003">
        <span class="cls_003">6.185,40</span>
      </div>
      <div style="position: absolute; left: 109.46px; top: 453.95px;" class="cls_003">
        <span class="cls_003">20200266;</span>
      </div>
      <div style="position: absolute; left: 109.46px; top: 481.91px;" class="cls_003">
        <span class="cls_003">Wiegeschein 13.134</span>
      </div>
      <div style="position: absolute; left: 72.98px; top: 509.51px;" class="cls_008">
        <span class="cls_008">Gesamtbetrag*</span>
      </div>
      <div style="position: absolute; left: 499.78px; top: 509.51px;" class="cls_008">
        <span class="cls_008">6.185,40</span>
      </div>
      <div style="position: absolute; left: 71.06px; top: 539.39px;" class="cls_003">
        <span class="cls_003"
          >*Reverse-Charge-Verfahren. Der Rechnungsbetrag enthält keine Umsatzsteuer. Die Steuer
          wird</span
        >
      </div>
      <div style="position: absolute; left: 71.06px; top: 555.47px;" class="cls_003">
        <span class="cls_003">gemäß §13b Abs 2 Nr. 7 UstG vom Leistungsempfänger geschuldet.</span>
      </div>
      <div style="position: absolute; left: 71.06px; top: 577.43px;" class="cls_003">
        <span class="cls_003">14 Zahlungsziel 14 Tage nach Rechnungsdatum, ohne Abzug.</span>
      </div>
      <div style="position: absolute; left: 71.06px; top: 596.51px;" class="cls_003">
        <span class="cls_003">Vielen Dank für die gute Zusammenarbeit.</span>
      </div>
      <div style="position: absolute; left: 71.06px; top: 763.58px;" class="cls_005">
        <span class="cls_005">USt-IdNr.: DE306470110</span>
      </div>
      <div style="position: absolute; left: 313.01px; top: 763.58px;" class="cls_005">
        <span class="cls_005">Source One GmbH</span>
      </div>
      <div style="position: absolute; left: 71.06px; top: 772.46px;" class="cls_005">
        <span class="cls_005">Steuernummer: 19/208/10290</span>
      </div>
      <div style="position: absolute; left: 313.01px; top: 772.58px;" class="cls_015">
        <span class="cls_015">Volksbank Südheide - Isenhagener Land - Altmark</span>
      </div>
      <div style="position: absolute; left: 71.06px; top: 780.98px;" class="cls_005">
        <span class="cls_005">HRB 206389 Amtsgericht Hildesheim</span>
      </div>
      <div style="position: absolute; left: 313.01px; top: 780.98px;" class="cls_005">
        <span class="cls_005">IBAN: DE27 2579 1635 0474 4160 00</span>
      </div>
      <div style="position: absolute; left: 71.06px; top: 789.5px;" class="cls_005">
        <span class="cls_005">Alte Hof 23 38542 Leiferde</span>
      </div>
      <div style="position: absolute; left: 313.01px; top: 790.1px;" class="cls_005">
        <span class="cls_005">BIC: GENODEF1HMN</span>
      </div>
      <div style="position: absolute; left: 71.06px; top: 798.64px;" class="cls_005">
        <span class="cls_005">Geschäftsführer: Kai Hoyer</span>
      </div>
      <div style="position: absolute; left: 289.25px; top: 811.12px;" class="cls_005">
        <span class="cls_005">Seite 1/1</span>
      </div>
    </div>
  </body>
</html>
