<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_004{font-family:Arial,serif;font-size:9.8px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:9.8px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_012{font-family:Arial,serif;font-size:8.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_012{font-family:Arial,serif;font-size:8.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_013{font-family:Arial,serif;font-size:11.3px;color:rgb(4,98,193);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_013{font-family:Arial,serif;font-size:11.3px;color:rgb(4,98,193);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_008{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_008{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_009{font-family:Arial,serif;font-size:9.8px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_009{font-family:Arial,serif;font-size:9.8px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_002{font-family:Arial,serif;font-size:8.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:8.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_011{font-family:Arial,serif;font-size:8.3px;color:rgb(4,98,193);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_011{font-family:Arial,serif;font-size:8.3px;color:rgb(4,98,193);font-weight:normal;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="5f1e7d36-d2ba-11ea-8b25-0cc47a792c0a_id_5f1e7d36-d2ba-11ea-8b25-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:842px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="5f1e7d36-d2ba-11ea-8b25-0cc47a792c0a_id_5f1e7d36-d2ba-11ea-8b25-0cc47a792c0a_files/background1.jpg" width=595 height=842></div>
<div style="position:absolute;left:440.05px;top:130.37px" class="cls_004"><span class="cls_004">Source One GmbH</span></div>
<div style="position:absolute;left:475.35px;top:141.62px" class="cls_004"><span class="cls_004">Alte Hof 23</span></div>
<div style="position:absolute;left:402.50px;top:152.90px" class="cls_004"><span class="cls_004">38542 Leif erde OT Dalldorf</span></div>
<div style="position:absolute;left:70.60px;top:164.15px" class="cls_012"><span class="cls_012">Source One GmbH, Alte Hof 23, 38542 Leiferde OT Dalldorf</span></div>
<div style="position:absolute;left:70.60px;top:181.42px" class="cls_005"><span class="cls_005">Ammer Entsorgungs GmbH & Co. KG</span></div>
<div style="position:absolute;left:354.45px;top:181.42px" class="cls_005"><span class="cls_005">Kontakt:</span></div>
<div style="position:absolute;left:425.02px;top:181.42px" class="cls_005"><span class="cls_005">Armin Rösch</span></div>
<div style="position:absolute;left:70.60px;top:193.42px" class="cls_005"><span class="cls_005">Baldhamer Straße 33</span></div>
<div style="position:absolute;left:354.45px;top:193.42px" class="cls_005"><span class="cls_005">Phone:</span></div>
<div style="position:absolute;left:425.02px;top:193.42px" class="cls_005"><span class="cls_005">0049 162 402 35 88</span></div>
<div style="position:absolute;left:70.60px;top:206.20px" class="cls_005"><span class="cls_005">85604 Zorneding</span></div>
<div style="position:absolute;left:354.45px;top:206.20px" class="cls_005"><span class="cls_005">E-Mail:</span></div>
<div style="position:absolute;left:425.02px;top:206.20px" class="cls_013"><span class="cls_013">roesch@srcone.de</span></div>
<div style="position:absolute;left:354.45px;top:230.22px" class="cls_005"><span class="cls_005">Date:</span></div>
<div style="position:absolute;left:425.02px;top:230.22px" class="cls_005"><span class="cls_005">16.12.2019</span></div>
<div style="position:absolute;left:70.60px;top:243.72px" class="cls_007"><span class="cls_007">Purchase Confirmation</span></div>
<div style="position:absolute;left:70.60px;top:256.50px" class="cls_008"><span class="cls_008">Dispo-Nummer: 20191207 (AB0033)</span></div>
<div style="position:absolute;left:70.60px;top:293.28px" class="cls_005"><span class="cls_005">Dear Sir or Madam,</span></div>
<div style="position:absolute;left:70.60px;top:318.05px" class="cls_005"><span class="cls_005">on the basis of our general conditions of purchase we purchase from you as follows:</span></div>
<div style="position:absolute;left:70.60px;top:342.07px" class="cls_008"><span class="cls_008">Description of goods</span></div>
<div style="position:absolute;left:460.32px;top:342.07px" class="cls_008"><span class="cls_008">Price/to</span></div>
<div style="position:absolute;left:70.60px;top:363.82px" class="cls_009"><span class="cls_009">Gemischte Verpackungen</span></div>
<div style="position:absolute;left:283.10px;top:363.82px" class="cls_009"><span class="cls_009">230,00</span></div>
<div style="position:absolute;left:316.82px;top:362.32px" class="cls_009"><span class="cls_009">€/to additional payment by Fa.Ammer</span></div>
<div style="position:absolute;left:70.60px;top:386.35px" class="cls_009"><span class="cls_009">Minimum loading weight:</span></div>
<div style="position:absolute;left:212.53px;top:384.85px" class="cls_004"><span class="cls_004">22 tonnes</span></div>
<div style="position:absolute;left:70.60px;top:409.62px" class="cls_009"><span class="cls_009">Incoterm:</span></div>
<div style="position:absolute;left:212.53px;top:408.12px" class="cls_004"><span class="cls_004">EXW DE-</span><span class="cls_005">85604 Zorneding</span></div>
<div style="position:absolute;left:70.60px;top:432.15px" class="cls_009"><span class="cls_009">Pick-up:</span></div>
<div style="position:absolute;left:212.53px;top:430.65px" class="cls_004"><span class="cls_004">19.12.2019</span></div>
<div style="position:absolute;left:70.60px;top:454.67px" class="cls_009"><span class="cls_009">Loading point:</span></div>
<div style="position:absolute;left:212.53px;top:453.17px" class="cls_004"><span class="cls_004">Ammer Entsorgungs GmbH & Co.KG</span></div>
<div style="position:absolute;left:212.53px;top:465.92px" class="cls_004"><span class="cls_004">Baldhamer Straße 33</span></div>
<div style="position:absolute;left:212.53px;top:475.67px" class="cls_004"><span class="cls_004">85604 Zorneding</span></div>
<div style="position:absolute;left:70.60px;top:499.70px" class="cls_009"><span class="cls_009">Loading reference:</span></div>
<div style="position:absolute;left:212.53px;top:498.20px" class="cls_004"><span class="cls_004">135154</span></div>
<div style="position:absolute;left:70.60px;top:522.23px" class="cls_009"><span class="cls_009">Terms of payment:</span></div>
<div style="position:absolute;left:212.53px;top:520.73px" class="cls_004"><span class="cls_004">upon receipt</span></div>
<div style="position:absolute;left:70.60px;top:566.53px" class="cls_004"><span class="cls_004">Please send us the weighing slip by e-mail to dispo@srcone.de immediately after loading or</span></div>
<div style="position:absolute;left:70.60px;top:577.78px" class="cls_004"><span class="cls_004">unloading. Thanks a lot.</span></div>
<div style="position:absolute;left:70.60px;top:598.80px" class="cls_004"><span class="cls_004">If  you have any questions, we are at your disposal.</span></div>
<div style="position:absolute;left:70.60px;top:622.83px" class="cls_004"><span class="cls_004">With kind regards</span></div>
<div style="position:absolute;left:70.60px;top:644.57px" class="cls_004"><span class="cls_004">Your Source One Team</span></div>
<div style="position:absolute;left:70.60px;top:753.42px" class="cls_002"><span class="cls_002">Source One GmbH</span></div>
<div style="position:absolute;left:389.72px;top:753.42px" class="cls_002"><span class="cls_002">HRB 206389 Amtsgericht Hildesheim</span></div>
<div style="position:absolute;left:70.60px;top:763.20px" class="cls_002"><span class="cls_002">Alte Hof 23, 38542 Leiferde OT Dalldorf</span></div>
<div style="position:absolute;left:389.72px;top:763.20px" class="cls_002"><span class="cls_002">USt-IdNr.: DE306470110</span></div>
<div style="position:absolute;left:70.60px;top:773.70px" class="cls_002"><span class="cls_002">E-Mail: info@srcone.de, <a href="http://www.srcone.de/">www.srcone.de</a> </span></div>
<div style="position:absolute;left:389.72px;top:770.70px" class="cls_002"><span class="cls_002">Geschäftsführer: Kai Hoyer</span></div>
</div>

</body>
</html>
