<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">

span.cls_002{font-family:Arial,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_011{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_011{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_012{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,127);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_012{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,127);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_006{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_006{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_008{font-family:Arial,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_008{font-family:Arial,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_013{font-family:Arial,serif;font-size:10.1px;color:rgb(0,0,127);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_013{font-family:Arial,serif;font-size:10.1px;color:rgb(0,0,127);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_003{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_014{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,127);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_014{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,127);font-weight:normal;font-style:normal;text-decoration: none}

</style>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="backgroundPngs/background1.jpg" width=595 height=841></div>
<div style="position:absolute;left:436.80px;top:94.60px" class="cls_002"><span class="cls_002">Source One GmbH</span></div>
<div style="position:absolute;left:475.20px;top:106.10px" class="cls_002"><span class="cls_002">Alte Hof 23</span></div>
<div style="position:absolute;left:404.00px;top:117.60px" class="cls_002"><span class="cls_002">38542 Leiferde OT Dalldorf</span></div>
<div style="position:absolute;left:71.00px;top:129.20px" class="cls_011"><span class="cls_011">Source One GmbH, Alte Hof 23, 38542 Leiferde OT Dalldorf</span></div>
<div style="position:absolute;left:71.00px;top:147.40px" class="cls_004"><span class="cls_004">Containerdienst Scheffzick GmbH</span></div>
<div style="position:absolute;left:354.20px;top:147.40px" class="cls_004"><span class="cls_004">Kontakt:</span></div>
<div style="position:absolute;left:425.00px;top:147.40px" class="cls_004"><span class="cls_004">Armin Rösch</span></div>
<div style="position:absolute;left:71.00px;top:160.10px" class="cls_004"><span class="cls_004">Am Neubauernfeld 16</span></div>
<div style="position:absolute;left:354.20px;top:160.10px" class="cls_004"><span class="cls_004">Telefon:</span></div>
<div style="position:absolute;left:425.00px;top:160.10px" class="cls_004"><span class="cls_004">0049 162 402 3588</span></div>
<div style="position:absolute;left:71.00px;top:172.70px" class="cls_004"><span class="cls_004">85456 Wartenberg</span></div>
<div style="position:absolute;left:354.20px;top:172.70px" class="cls_004"><span class="cls_004">E-Mail:</span></div>
<div style="position:absolute;left:425.00px;top:172.70px" class="cls_012"><span class="cls_012"> </span><A HREF="mailto:roesch@srcone.de">roesch@srcone.de</A> </div>
<div style="position:absolute;left:354.20px;top:198.00px" class="cls_004"><span class="cls_004">Datum:</span></div>
<div style="position:absolute;left:425.00px;top:198.00px" class="cls_004"><span class="cls_004">16.12.2019</span></div>
<div style="position:absolute;left:71.00px;top:223.30px" class="cls_006"><span class="cls_006">Verkaufsbestätigung</span></div>
<div style="position:absolute;left:71.00px;top:237.10px" class="cls_007"><span class="cls_007">Dispo-Nummer: 20191207 (AB0034)</span></div>
<div style="position:absolute;left:71.00px;top:275.10px" class="cls_004"><span class="cls_004">Sehr geehrte Damen und Herren,</span></div>
<div style="position:absolute;left:71.00px;top:300.40px" class="cls_004"><span class="cls_004">auf Grundlage unsere allgemeinen Verkaufsbedingungen verkaufen wir Ihnen wie folgt:</span></div>
<div style="position:absolute;left:71.00px;top:325.70px" class="cls_007"><span class="cls_007">Sorte/Warenbezeichnung</span></div>
<div style="position:absolute;left:425.00px;top:325.70px" class="cls_007"><span class="cls_007">Preis/to</span></div>
<div style="position:absolute;left:71.00px;top:347.60px" class="cls_008"><span class="cls_008">Gemischte Verpackungen (150106)</span></div>
<div style="position:absolute;left:318.80px;top:347.60px" class="cls_008"><span class="cls_008">205,00</span></div>
<div style="position:absolute;left:352.06px;top:347.60px" class="cls_008"><span class="cls_008">€/to Zuzahlung durch Source One</span></div>
<div style="position:absolute;left:71.00px;top:359.10px" class="cls_002"><span class="cls_002">Beschreibung: maximal 2% Restfeuchte</span></div>
<div style="position:absolute;left:71.00px;top:382.10px" class="cls_008"><span class="cls_008">Menge:</span></div>
<div style="position:absolute;left:212.60px;top:382.10px" class="cls_002"><span class="cls_002">Eine Ladung - Mindestauslastung 22 to</span></div>
<div style="position:absolute;left:71.00px;top:406.00px" class="cls_008"><span class="cls_008">Lieferbedingung:</span></div>
<div style="position:absolute;left:212.60px;top:405.00px" class="cls_002"><span class="cls_002">DAP </span><span class="cls_004">85456 Wartenberg</span></div>
<div style="position:absolute;left:71.00px;top:429.30px" class="cls_008"><span class="cls_008">Anlieferung:</span></div>
<div style="position:absolute;left:212.60px;top:429.30px" class="cls_002"><span class="cls_002">19.12.2019</span></div>
<div style="position:absolute;left:71.00px;top:452.30px" class="cls_008"><span class="cls_008">Entladestelle:</span></div>
<div style="position:absolute;left:212.60px;top:452.30px" class="cls_002"><span class="cls_002">Containerdienst Scheffzick GmbH</span></div>
<div style="position:absolute;left:212.60px;top:463.80px" class="cls_002"><span class="cls_002">Am Neubauernfeld 16</span></div>
<div style="position:absolute;left:212.60px;top:475.30px" class="cls_002"><span class="cls_002">85456 Wartenberg, Deutschland</span></div>
<div style="position:absolute;left:71.00px;top:498.30px" class="cls_008"><span class="cls_008">Entladereferenz:</span></div>
<div style="position:absolute;left:212.60px;top:498.30px" class="cls_002"><span class="cls_002">123123 1</span></div>
<div style="position:absolute;left:71.00px;top:521.30px" class="cls_008"><span class="cls_008">Zahlungsbedingungen:</span></div>
<div style="position:absolute;left:212.60px;top:521.30px" class="cls_002"><span class="cls_002">14 Tage</span></div>
<div style="position:absolute;left:71.00px;top:590.30px" class="cls_002"><span class="cls_002">Bitte senden Sie uns direkt nach der Be- bzw. Einladung den Wiegeschein per E-Mail an</span></div>
<div style="position:absolute;left:71.00px;top:601.80px" class="cls_013"><span class="cls_013"> </span><A HREF="mailto:dispo@srcone.de">dispo@srcone.de</A> <span class="cls_002"> zu. Vielen Dank.</span></div>
<div style="position:absolute;left:71.00px;top:624.80px" class="cls_002"><span class="cls_002">Bei Fragen, stehe wir Ihnen gerne zur Verfügung</span></div>
<div style="position:absolute;left:71.00px;top:659.30px" class="cls_002"><span class="cls_002">Mit freundlichen Grüßen</span></div>
<div style="position:absolute;left:71.00px;top:682.30px" class="cls_002"><span class="cls_002">Ihr Source One Team</span></div>
<div style="position:absolute;left:71.00px;top:752.30px" class="cls_003"><span class="cls_003">Source One GmbH</span></div>
<div style="position:absolute;left:389.60px;top:752.30px" class="cls_003"><span class="cls_003">HRB 206389 Amtsgericht Hildesheim</span></div>
<div style="position:absolute;left:71.00px;top:762.30px" class="cls_003"><span class="cls_003">Alte Hof 23, 38542 Leiferde OT Dalldorf</span></div>
<div style="position:absolute;left:389.60px;top:762.30px" class="cls_003"><span class="cls_003">USt-IdNr.: DE306470110</span></div>
<div style="position:absolute;left:71.00px;top:772.30px" class="cls_003"><span class="cls_002">E-Mail: info@srcone.de, <a href="http://www.srcone.de/">www.srcone.de</a> </span></div>
<div style="position:absolute;left:389.60px;top:772.30px" class="cls_003"><span class="cls_003">Geschäftsführer: Kai Hoyer</span></div>
</div>

</body>
</html>
