<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_004{font-family:Arial,serif;font-size:9.8px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:9.8px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_012{font-family:Arial,serif;font-size:8.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_012{font-family:Arial,serif;font-size:8.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_013{font-family:Arial,serif;font-size:11.3px;color:rgb(4,98,193);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_013{font-family:Arial,serif;font-size:11.3px;color:rgb(4,98,193);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:11.3px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_008{font-family:Arial,serif;font-size:9.8px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_008{font-family:Arial,serif;font-size:9.8px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_014{font-family:Arial,serif;font-size:9.8px;color:rgb(4,98,193);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_014{font-family:Arial,serif;font-size:9.8px;color:rgb(4,98,193);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_002{font-family:Arial,serif;font-size:8.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:8.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_011{font-family:Arial,serif;font-size:8.3px;color:rgb(4,98,193);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_011{font-family:Arial,serif;font-size:8.3px;color:rgb(4,98,193);font-weight:normal;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="0faca51a-d3b5-11ea-8b25-0cc47a792c0a_id_0faca51a-d3b5-11ea-8b25-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:842px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="0faca51a-d3b5-11ea-8b25-0cc47a792c0a_id_0faca51a-d3b5-11ea-8b25-0cc47a792c0a_files/background1.jpg" width=595 height=842></div>
<div style="position:absolute;left:440.05px;top:130.37px" class="cls_004"><span class="cls_004">Source One GmbH</span></div>
<div style="position:absolute;left:475.35px;top:141.62px" class="cls_004"><span class="cls_004">Alte Hof 23</span></div>
<div style="position:absolute;left:402.50px;top:152.90px" class="cls_004"><span class="cls_004">38542 Leif erde OT Dalldorf</span></div>
<div style="position:absolute;left:70.60px;top:164.15px" class="cls_012"><span class="cls_012">Source One GmbH, Alte Hof 23, 38542 Leiferde OT Dalldorf</span></div>
<div style="position:absolute;left:70.60px;top:181.42px" class="cls_005"><span class="cls_005">Spedition Logistik GmbH & Co. KG</span></div>
<div style="position:absolute;left:354.45px;top:181.42px" class="cls_005"><span class="cls_005">Kontakt:</span></div>
<div style="position:absolute;left:425.02px;top:181.42px" class="cls_005"><span class="cls_005">Mark Steiner</span></div>
<div style="position:absolute;left:70.60px;top:193.42px" class="cls_005"><span class="cls_005">Baldhamer Straße 33</span></div>
<div style="position:absolute;left:354.45px;top:193.42px" class="cls_005"><span class="cls_005">Telefon:</span></div>
<div style="position:absolute;left:425.02px;top:193.42px" class="cls_005"><span class="cls_005">0049 162 402 35 88</span></div>
<div style="position:absolute;left:70.60px;top:206.20px" class="cls_005"><span class="cls_005">85604 Zorneding</span></div>
<div style="position:absolute;left:354.45px;top:206.20px" class="cls_005"><span class="cls_005">E-Mail:</span></div>
<div style="position:absolute;left:425.02px;top:206.20px" class="cls_013"><span class="cls_013">dispo@srcone.de</span></div>
<div style="position:absolute;left:354.45px;top:218.20px" class="cls_005"><span class="cls_005">Datum:</span></div>
<div style="position:absolute;left:425.02px;top:218.20px" class="cls_005"><span class="cls_005">16.12.2019</span></div>
<div style="position:absolute;left:70.60px;top:230.22px" class="cls_007"><span class="cls_007">Dispo-Nummer: 20191207</span></div>
<div style="position:absolute;left:70.60px;top:267.00px" class="cls_005"><span class="cls_005">Sehr geehrte Damen und Herren,</span></div>
<div style="position:absolute;left:70.60px;top:291.78px" class="cls_005"><span class="cls_005">hiermit bestätigen wir Ihnen folgenden Auftrag:</span></div>
<div style="position:absolute;left:70.60px;top:316.55px" class="cls_007"><span class="cls_007">Transportauftrag</span></div>
<div style="position:absolute;left:425.02px;top:316.55px" class="cls_007"><span class="cls_007">Preis</span></div>
<div style="position:absolute;left:70.60px;top:338.30px" class="cls_008"><span class="cls_008">Transport von </span><span class="cls_004">85604 Zorneding nach 85604 Zorneding</span></div>
<div style="position:absolute;left:425.02px;top:338.30px" class="cls_004"><span class="cls_004">850€</span></div>
<div style="position:absolute;left:70.60px;top:360.83px" class="cls_008"><span class="cls_008">Material:</span></div>
<div style="position:absolute;left:212.53px;top:359.33px" class="cls_004"><span class="cls_004">310er</span></div>
<div style="position:absolute;left:70.60px;top:372.10px" class="cls_008"><span class="cls_008">Fahrzeug:</span></div>
<div style="position:absolute;left:212.53px;top:370.60px" class="cls_004"><span class="cls_004">Walkingf loor</span></div>
<div style="position:absolute;left:70.60px;top:383.35px" class="cls_008"><span class="cls_008">Zahlungsbedingungen</span><span class="cls_004">:</span></div>
<div style="position:absolute;left:212.53px;top:381.85px" class="cls_004"><span class="cls_004">30 Tage nach Rechnungstellung</span></div>
<div style="position:absolute;left:70.60px;top:405.12px" class="cls_007"><span class="cls_007">Ladedaten</span></div>
<div style="position:absolute;left:70.60px;top:431.40px" class="cls_008"><span class="cls_008">Ladestelle:</span></div>
<div style="position:absolute;left:141.18px;top:431.40px" class="cls_004"><span class="cls_004">Ammer Entsorgungs GmbH & Co.KG</span></div>
<div style="position:absolute;left:354.45px;top:431.40px" class="cls_008"><span class="cls_008">Be- und Entladezeiten:</span></div>
<div style="position:absolute;left:141.18px;top:442.65px" class="cls_004"><span class="cls_004">Baldhamer Straße 33</span></div>
<div style="position:absolute;left:354.45px;top:441.15px" class="cls_004"><span class="cls_004">Mo.-Do: 06:00-12:00 und 15:00-16:00</span></div>
<div style="position:absolute;left:141.18px;top:453.92px" class="cls_004"><span class="cls_004">85604 Zorneding</span></div>
<div style="position:absolute;left:354.45px;top:453.92px" class="cls_004"><span class="cls_004">Fr:</span></div>
<div style="position:absolute;left:392.75px;top:453.92px" class="cls_004"><span class="cls_004">05:00-12:00</span></div>
<div style="position:absolute;left:70.60px;top:475.68px" class="cls_008"><span class="cls_008">Abholung:</span></div>
<div style="position:absolute;left:141.18px;top:474.18px" class="cls_004"><span class="cls_004">am 19.12.2019</span></div>
<div style="position:absolute;left:70.60px;top:485.45px" class="cls_008"><span class="cls_008">Ladenummer:</span><span class="cls_004"> wasd123</span></div>
<div style="position:absolute;left:70.60px;top:498.20px" class="cls_008"><span class="cls_008">Avisierung:</span></div>
<div style="position:absolute;left:141.18px;top:496.70px" class="cls_014"><span class="cls_014">steiner@srcone.de</span></div>
<div style="position:absolute;left:70.60px;top:519.97px" class="cls_007"><span class="cls_007">Entladedaten</span></div>
<div style="position:absolute;left:70.60px;top:546.25px" class="cls_008"><span class="cls_008">Entladestelle:</span><span class="cls_004">  Ammer Entsorgungs GmbH & Co.KG</span></div>
<div style="position:absolute;left:354.45px;top:544.75px" class="cls_008"><span class="cls_008">Be- und Entladezeiten:</span></div>
<div style="position:absolute;left:141.18px;top:557.50px" class="cls_004"><span class="cls_004">Baldhamer Straße 33</span></div>
<div style="position:absolute;left:354.45px;top:557.50px" class="cls_004"><span class="cls_004">Mo.-Do: 06:00-12:00 und 15:00-16:00</span></div>
<div style="position:absolute;left:141.18px;top:568.78px" class="cls_004"><span class="cls_004">85604 Zorneding</span></div>
<div style="position:absolute;left:354.45px;top:568.78px" class="cls_004"><span class="cls_004">Fr:</span></div>
<div style="position:absolute;left:392.75px;top:568.78px" class="cls_004"><span class="cls_004">05:00-12:00</span></div>
<div style="position:absolute;left:70.60px;top:589.78px" class="cls_008"><span class="cls_008">Anlieferung :</span><span class="cls_004">   am 20.12.2019</span></div>
<div style="position:absolute;left:70.60px;top:601.05px" class="cls_008"><span class="cls_008">Ladenummer:</span><span class="cls_004"> asd456</span></div>
<div style="position:absolute;left:70.60px;top:613.80px" class="cls_008"><span class="cls_008">Avisierung:</span></div>
<div style="position:absolute;left:141.18px;top:612.30px" class="cls_014"><span class="cls_014">steiner@srcone.de</span></div>
<div style="position:absolute;left:70.60px;top:658.10px" class="cls_004"><span class="cls_004">Bei Fragen, stehe wir Ihnen gerne zur Verf ügung</span></div>
<div style="position:absolute;left:70.60px;top:692.62px" class="cls_004"><span class="cls_004">Mit freundlichen Grüßen</span></div>
<div style="position:absolute;left:70.60px;top:713.65px" class="cls_004"><span class="cls_004">Ihr Source One Team</span></div>
<div style="position:absolute;left:70.60px;top:753.42px" class="cls_002"><span class="cls_002">Source One GmbH</span></div>
<div style="position:absolute;left:389.72px;top:753.42px" class="cls_002"><span class="cls_002">HRB 206389 Amtsgericht Hildesheim</span></div>
<div style="position:absolute;left:70.60px;top:763.20px" class="cls_002"><span class="cls_002">Alte Hof 23, 38542 Leiferde OT Dalldorf</span></div>
<div style="position:absolute;left:389.72px;top:763.20px" class="cls_002"><span class="cls_002">USt-IdNr.: DE306470110</span></div>
<div style="position:absolute;left:70.60px;top:773.70px" class="cls_002"><span class="cls_002">E-Mail: info@srcone.de, <a href="http://www.srcone.de/">www.srcone.de</a> </span></div>
<div style="position:absolute;left:389.72px;top:770.70px" class="cls_002"><span class="cls_002">Geschäftsführer: Kai Hoyer</span></div>
</div>

</body>
</html>
