span.cls_004 {
  font-family: Arial, serif;
  font-size: 9.8px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
div.cls_004 {
  font-family: Arial, serif;
  font-size: 9.8px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
span.cls_012 {
  font-family: Arial, serif;
  font-size: 8.3px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}
div.cls_012 {
  font-family: Arial, serif;
  font-size: 8.3px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
span.cls_005 {
  font-family: Arial, serif;
  font-size: 11.3px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
div.cls_005 {
  font-family: Arial, serif;
  font-size: 11.3px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
span.cls_013 {
  font-family: Arial, serif;
  font-size: 11.3px;
  color: rgb(4, 98, 193);
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}
div.cls_013 {
  font-family: Arial, serif;
  font-size: 11.3px;
  color: rgb(4, 98, 193);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
span.cls_007 {
  font-family: Arial, serif;
  font-size: 12.1px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
div.cls_007 {
  font-family: Arial, serif;
  font-size: 12.1px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
span.cls_008 {
  font-family: Arial, serif;
  font-size: 11.3px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
div.cls_008 {
  font-family: Arial, serif;
  font-size: 11.3px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
span.cls_009 {
  font-family: Arial, serif;
  font-size: 9.8px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
div.cls_009 {
  font-family: Arial, serif;
  font-size: 9.8px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
span.cls_002 {
  font-family: Arial, serif;
  font-size: 8.3px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
div.cls_002 {
  font-family: Arial, serif;
  font-size: 8.3px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
span.cls_011 {
  font-family: Arial, serif;
  font-size: 8.3px;
  color: rgb(4, 98, 193);
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}
div.cls_011 {
  font-family: Arial, serif;
  font-size: 8.3px;
  color: rgb(4, 98, 193);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
